<template>
	<div class="form-group">
		<label>{{ name }}</label> 
		<transition name="icon" mode="out-in" appear appear-active-class="icon-appear-active">
			<fa-icon v-if="activated" :name="icon" :class="iconClasses" :key="iconClasses"></fa-icon>
		</transition>
		<input type="text" 
			class="form-control" 
			:value="value"
			@input="onInput"
		>
	</div>
</template>
<script>
import FaIcon from 'vue-awesome/components/Icon'
import 'vue-awesome/icons/check-circle'
import 'vue-awesome/icons/exclamation-circle'

export default {
	components: {
		FaIcon
	},
	props: ['name', 'value', 'valid'],
	data(){
		return {
			activated: this.value !== ''
		}
	},
	computed: {
		icon(){
			return this.valid ? 'check-circle' : 'exclamation-circle';
		},
		iconClasses(){
			return this.valid ? 'text-success' : 'text-danger';
		}
	},
	methods: {
		onInput(e){
			this.activated = true;
			this.$emit('updated', e.target.value);
		}
	}
}
</script>
<style>
	.icon-enter-active{
		animation: iconIn 0.3s;
	}

	.icon-leave-active{
		animation: iconOut 0.3s;
	}
	
	.icon-appear-active{
		animation: iconFade 0.3s;
	}

	@keyframes iconIn{
		from{transform: rotateY(-90deg)}
		to{transform: rotateY(0deg)}
	}

	@keyframes iconOut{
		from{transform: rotateY(0deg)}
		to{transform: rotateY(90deg)}
	}

	@keyframes iconFade{
		from{opacity: 0;}
		to{opacity: 1;}
	}
</style>